/**
 * Styling of standard HTML elements.
 */

h1 {
  color: $color-primary;
}

a {
  color: $color-text-link;
  &:hover {
    color: $charcoal;
  }
}

ul, ol {
  list-style-position: outside;
}

/* Vertical rhythm in paragraphs */
p {
  margin: 0 0 20px;
}
