/**
 * Styling of elements difened by a class that are formattet the same way, no
 * matter what context they appear in.
 */

body {
  &.topbar-is-open,
  &.overlay-is-active,
  &.popupbar-is-open {
    width: 100%;
    position: fixed !important;
  }
}

// Topbar opening hours
a.topbar-link-opening-hours {
  background-color: $white;
  color: $color-standard-text;
  &::after {
    color: $color-primary;
  }
  .no-touch & {
    &:hover {
      background-color: $grey-dark;
      color: $white;
    }
  }
}

// Topbar link user account
a.topbar-link-user-account {
  background-color: $white;
  color: $color-text-primary;

  .no-touch &:hover,
  .no-touch &.active {
    background-color: $grey-dark;
  }

  &::after {
    color: $color-text-primary;
    &:hover {
      color: $white;
    }
  }
  &.active::after {
    color: $white;
  }
}

// Topbar link user login.
a.topbar-link-user {
  background-color: $color-secondary;
}

// Search overlay
.search-overlay--wrapper {
  .search-overlay--inner {
    background-color: $color-primary;
  }
  .search-overlay--text {
    color: $white;
  }
  .cancel a {
    color: $charcoal-opacity-dark;
  }
}

.menu-item-count {
  background-color: $color-primary;
  color: $color-text-on-primary;
}

.more-link a,
.node-ding-event.node-teaser .background .button {
  background-color: $color-secondary;
  color: $white;
  &:hover {
    background-color: $grey-dark;
  }
}

// Lists in body-field on ndoes.
.field-type-text-long {
  ul, ol {
    padding-left: 40px;
  }
}

// Color classes
//
// Use these classes to apply theme colors to elements
//
// Markup:
// <div class="color-text">Color text</div>
// <div class="color-text-on-primary background-color-primary">Color text on primary and Background color primary</div>
// <div class="color-text-on-secondary background-color-secondary">Color text on primary and Background color primary</div>
//
//Styleguide 2.1.9

.color-text {
  color: $color-text;
}

.color-text-link {
  color: $color-text-link;
}

.color-text-on-primary {
  color: $color-text-on-primary;
}

.color-text-on-secondary {
  color: $color-text-on-secondary;
}

.background-color-primary {
  background-color: $color-primary;
}

.background-color-secondary {
  background-color: $color-secondary;
}

// Ding carousel.
.ding-carousel  .slick-slider {
  // The max-height restraint causes arrow buttons to flow over the info text
  // in the bottom on serendipity carousels.
  max-height: none;
  height: auto;

  .slick-list {
    max-height: none;
    padding-bottom: 70px;
  }

  .slick-arrow  {
    &.slick-prev,
    &.slick-next {
      &::after {
        background-color: $color-secondary;
      }
      &.slick-disabled:hover::after {
        background-color: $grey-dark;
      }
    }
  }
}

.slick-slider .slick-arrow {
  &.slick-prev,
  &.slick-next {
    &::after {
      background-color: $color-secondary;
    }
    &.slick-disabled:hover::after {
      background-color: $grey-dark;
    }
  }
}

.carousel-tabs .carousel-list-tabs .carousel-item a::after {
  background-color: $color-text-secondary;
}

.rs-carousel {
  .rs-carousel-items .rs-carousel-action {
    &.rs-carousel-action-next,
    &.rs-carousel-action-prev {
      &::after {
        background-color: $color-secondary;
      }
      .no-touch &:hover::after {
        background-color: $grey-dark;
      }
    }

  }
  .rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item a::after {
    background-color: $color-secondary;
  }
}

// Our mobilepay pane on library fees status page. Placed here temporarily.
.pane-vejlebib-mobilepay-vejlebib-mobilepay-info {
  margin-top: 20px;
}
