/**
 * Generel styling for all nodes.
 */

// ==========================================================================
// View mode search result
// ==========================================================================

.node.view-mode-search-result {
  .button {
    background-color: $grey-medium;

    &:hover {
      color: $white;
      background-color: $color-secondary;
    }
  }
}

// ==========================================================================
// Ding news
// ==========================================================================

// Make library links on news look like the tags in the bottom.
.node-ding-news.node-full .field-name-og-group-ref {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 74.05405%;
  margin-top: 30px;
  padding: 10px 0;

  .field-label {
    font-weight: bold;
  }

  &::after {
    content: "";
  }
}
