/**
 * Styling of WAYF-links and related adjustments (login and create user).
 *
 * @author Simon Holt
 */

// The user login form is sometimes duplicated when submitting form and the
// structure of the HTML also changes. So we have to apply a different more
// specific selector when the form is changed.
// Using a placeholder an extending this seems to be the cleanest way of
// achieving this. It is not possible to use a more specific selector which can
// be used in both situations.
// TODO: Look into why the form is duplicated.
%vejlebib-user-login-form-actions {
  width: 100%;
  // This seems to provide a better vertical rhythm.
  margin-top: 20px;

  .submit-button-with-icon {
    float: right;
    margin-bottom: 15px;
  }

  .submit-button-with-icon,
  .wayf-dk-login,
  .ding-wayf-create-user {
    width: 48%;
  }

  .button {
    padding: 20px 15px 14px 15px;
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $grey-dark;
    }
  }
}

// Target the form-actions before the form is submitted.
.user-login-form .user-login-container .form-actions {
  @extend %vejlebib-user-login-form-actions;
}

// Target the form-actions when the form is rebuild after submit.
.popupbar .user-login-form .user-login-container .form-actions {
  @extend %vejlebib-user-login-form-actions;

  // In this mode we also need to correct a display: inline-block, which is
  // applied with .popupbar class in the selector.
  a {
    display: block;
  }
}

.wayf-dk-login {
  clear: right;
  float: right;

  .button img {
    float: right;
    // Relative values seems to be to hard to control because of base theme.
    width: 75px;
    margin-top: -2px;
  }
}

.ding-wayf-create-user {
  float: left;
}
