/**
 * Styling of WAYF-links and related adjustments (login and create user).
 *
 * @author Simon Holt
 */

// Note: have to make it this specific.
.pane-user-login .user-login-container .form-actions {
  width: 100%;
  // This seems to provide a better vertical rhythm.
  margin-top: 20px;

  .submit-button-with-icon {
    float: right;
    margin-bottom: 15px;
  }

  .submit-button-with-icon,
  .wayf-dk-login,
  .ding-wayf-create-user {
    width: 48%;
  }

  .button {
    padding: 20px 15px 14px 15px;
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $grey-dark;
    }
  }
}

.wayf-dk-login {
  clear: right;
  float: right;

  .button img {
    float: right;
    // Relative values seems to be to hard to control because of base theme.
    width: 75px;
    margin-top: -2px;
  }
}

.ding-wayf-create-user {
  float: left;
}
